// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.btn.btn-primary.px-3.py-3 {
  background-color: #7BDFF2; 
  color: #ffffff; 
  padding: 1rem 1.5rem;

  &:hover {
    background-color: #F7D6E0;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
}

.btn.btn-primary.px-3.py-2 {
  background-color: #7BDFF2; 
  color: #ffffff; 
  padding: 1rem 1.5rem;

  &:hover {
    background-color: #F7D6E0;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
}

[data-scheme="dark"] {
  --color-primary: #ff69b4;
  
  --color-text: #ff69b4;

  --color-link: #ff69b4;
  --color-link-hover: #ff1493;
  
  h1, h2, h3, h4, h5, h6 {
    color: #ff69b4;
  }

  .navbar .navbar-nav .nav-link {
    color: #ff69b4 !important;
  }
  
}