// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.btn.btn-primary.px-3.py-3 {
  background-color: #7BDFF2; 
  color: #ffffff; 
  padding: 1rem 1.5rem;

  &:hover {
    background-color: #F7D6E0;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
}

.btn.btn-primary.px-3.py-2 {
  background-color: #7BDFF2; 
  color: #ffffff; 
  padding: 1rem 1.5rem;

  &:hover {
    background-color: #F7D6E0;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
}